<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wx.service.dao.ExtComputerMapper">

    <select id="selectLessOne" parameterType="java.lang.Long"
            resultType="wx.common.generator.base.Computer">
        select * from computer where #{tim}>stim and etim>#{tim}
        <if test="notIds !=null and notIds.size()>0">
            and cid not in
            <foreach item="item" index="index" collection="notIds" open="("
                     separator="," close=")">
                #{item}
            </foreach>
        </if>
        order by unum limit 0,1
    </select>

    <update id="updateStop" parameterType="java.lang.String">
        UPDATE computer set stop = stop + 1 where cid = #{cid}
    </update>

    <update id="updateUnum" parameterType="java.lang.String">
        UPDATE computer set unum = unum + 1 where cid = #{cid}
    </update>

</mapper>