<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wx.common.generator.active.StorageTaskMapper">
  <resultMap id="BaseResultMap" type="wx.common.generator.active.StorageTask">
    <id column="uuid" jdbcType="VARCHAR" property="uuid" />
    <result column="cid" jdbcType="VARCHAR" property="cid" />
    <result column="url" jdbcType="INTEGER" property="url" />
    <result column="tim" jdbcType="BIGINT" property="tim" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="wx.common.generator.active.StorageTask">
    <result column="jo" jdbcType="LONGVARCHAR" property="jo" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    uuid, cid, url, tim
  </sql>
  <sql id="Blob_Column_List">
    jo
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="wx.common.generator.active.StorageTaskExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from storage_task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="wx.common.generator.active.StorageTaskExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from storage_task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from storage_task
    where uuid = #{uuid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from storage_task
    where uuid = #{uuid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="wx.common.generator.active.StorageTaskExample">
    delete from storage_task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="wx.common.generator.active.StorageTask">
    insert into storage_task (uuid, cid, url, 
      tim, jo)
    values (#{uuid,jdbcType=VARCHAR}, #{cid,jdbcType=VARCHAR}, #{url,jdbcType=INTEGER}, 
      #{tim,jdbcType=BIGINT}, #{jo,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="wx.common.generator.active.StorageTask">
    insert into storage_task
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        uuid,
      </if>
      <if test="cid != null">
        cid,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="tim != null">
        tim,
      </if>
      <if test="jo != null">
        jo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="cid != null">
        #{cid,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=INTEGER},
      </if>
      <if test="tim != null">
        #{tim,jdbcType=BIGINT},
      </if>
      <if test="jo != null">
        #{jo,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="wx.common.generator.active.StorageTaskExample" resultType="java.lang.Long">
    select count(*) from storage_task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update storage_task
    <set>
      <if test="record.uuid != null">
        uuid = #{record.uuid,jdbcType=VARCHAR},
      </if>
      <if test="record.cid != null">
        cid = #{record.cid,jdbcType=VARCHAR},
      </if>
      <if test="record.url != null">
        url = #{record.url,jdbcType=INTEGER},
      </if>
      <if test="record.tim != null">
        tim = #{record.tim,jdbcType=BIGINT},
      </if>
      <if test="record.jo != null">
        jo = #{record.jo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update storage_task
    set uuid = #{record.uuid,jdbcType=VARCHAR},
      cid = #{record.cid,jdbcType=VARCHAR},
      url = #{record.url,jdbcType=INTEGER},
      tim = #{record.tim,jdbcType=BIGINT},
      jo = #{record.jo,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update storage_task
    set uuid = #{record.uuid,jdbcType=VARCHAR},
      cid = #{record.cid,jdbcType=VARCHAR},
      url = #{record.url,jdbcType=INTEGER},
      tim = #{record.tim,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="wx.common.generator.active.StorageTask">
    update storage_task
    <set>
      <if test="cid != null">
        cid = #{cid,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=INTEGER},
      </if>
      <if test="tim != null">
        tim = #{tim,jdbcType=BIGINT},
      </if>
      <if test="jo != null">
        jo = #{jo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="wx.common.generator.active.StorageTask">
    update storage_task
    set cid = #{cid,jdbcType=VARCHAR},
      url = #{url,jdbcType=INTEGER},
      tim = #{tim,jdbcType=BIGINT},
      jo = #{jo,jdbcType=LONGVARCHAR}
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="wx.common.generator.active.StorageTask">
    update storage_task
    set cid = #{cid,jdbcType=VARCHAR},
      url = #{url,jdbcType=INTEGER},
      tim = #{tim,jdbcType=BIGINT}
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
</mapper>